# CLASSIFICADOR PARA O CONJUNTO DIGITS

In [1]:
# Importar bibliotecas


import pandas as pd

from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split

In [2]:
# Ler a planilha Excel com os dados do conjunto DIGITS


dados = pd.read_excel('Digits.xlsx')  

dados = dados.iloc[:,1:]  
dados.head()

   0  1  2   3   4   5  6  7  8  9  ...  55  56  57  58  59  60  61  62  63  target
0  0  0  5  13   9   1  0  0  0  0  ...   0   0   0   6  13  10   0   0   0       0
1  0  0  0  12  13   5  0  0  0  0  ...   0   0   0   0  11  16  10   0   0       1
2  0  0  0   4  15  12  0  0  0  0  ...   0   0   0   0   3  11  16   9   0       2
3  0  0  7  15  13   1  0  0  0  8  ...   0   0   0   7  13  13   9   0   0       3
4  0  0  0   1  11   0  0  0  0  0  ...   0   0   0   0   2  16   4   0   0       4

[5 rows x 65 columns]

In [5]:
#  Criar os arrays numericos correspondentes aos atributos e ao alvo


X = dados.iloc[:,:-1].values
y = dados.iloc[:,-1].values
print(X)

[[ 0  0  5 ...  0  0  0]
 [ 0  0  0 ... 10  0  0]
 [ 0  0  0 ... 16  9  0]
 ...
 [ 0  0  1 ...  6  0  0]
 [ 0  0  2 ... 12  0  0]
 [ 0  0 10 ... 12  1  0]]

In [6]:
#  Dividir o conjunto de dados em conjunto de treinamento e conjunto de teste


SEED = 20

x_treino, x_teste, y_treino, y_teste = train_test_split(X, y, random_state = SEED, test_size = 0.25, stratify = y)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(x_treino), len(x_teste)))

Treinaremos com 1347 elementos e testaremos com 450 elementos

# k-Nearest Neighbors

In [7]:
# Treinar um classificador KNN com o conjunto de treino


classificador = KNeighborsClassifier(n_neighbors=1,weights='uniform')

classificador = classificador.fit(x_treino,y_treino)


# Obter as respostas do classificador no conjunto de teste


y_pred = classificador.predict(x_teste)
    
print("A acur√°cia foi %3.1f%%" % (100*accuracy_score(y_teste,y_pred)))

A acur√°cia foi 98.7%

# Random Forest

In [8]:
# Treinar um classificador RandomForestClassifier com o conjunto de treino

from sklearn.ensemble import RandomForestClassifier

classificador = RandomForestClassifier(n_estimators=420,
                                       random_state=SEED,
                                       min_samples_split=2
                                       )

classificador = classificador.fit(x_treino,y_treino)


# Obter as respostas do classificador no conjunto de teste


y_pred = classificador.predict(x_teste)
    
print("A acur√°cia foi %3.1f%%" % (100*accuracy_score(y_teste,y_pred)))

A acur√°cia foi 98.4%

# Decision Trees

In [9]:
# Treinar um classificador DecisionTreeClassifier com o conjunto de treino

from sklearn.tree import DecisionTreeClassifier

classificador = DecisionTreeClassifier(random_state=SEED)

classificador = classificador.fit(x_treino,y_treino)


# Obter as respostas do classificador no conjunto de teste


y_pred = classificador.predict(x_teste)
    
print("A acur√°cia foi %3.1f%%" % (100*accuracy_score(y_teste,y_pred)))

A acur√°cia foi 87.3%

# Support Vector Machines

In [10]:
# Treinar um classificador LinearSVC com o conjunto de treino

from sklearn.svm import LinearSVC
from sklearn.preprocessing import StandardScaler

classificador = LinearSVC(random_state=SEED,
                          max_iter=1000
                          )

scaler   = StandardScaler()
x_treino_scaled = scaler.fit_transform(x_treino)
x_teste_scaled  = scaler.transform(x_teste)

classificador = classificador.fit(x_treino_scaled,y_treino)

# Obter as respostas do classificador no conjunto de teste


y_pred = classificador.predict(x_teste_scaled)
    
print("A acur√°cia foi %3.1f%%" % (100*accuracy_score(y_teste,y_pred)))

A acur√°cia foi 96.9%

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:1208: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  ConvergenceWarning,

# Linear Models

In [11]:
# Treinar um classificador LogisticRegression com o conjunto de treino

from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

classificador = LogisticRegression(random_state=SEED)

scaler   = StandardScaler()
x_treino_scaled = scaler.fit_transform(x_treino)
x_teste_scaled  = scaler.transform(x_teste)

classificador = classificador.fit(x_treino_scaled,y_treino)


# Obter as respostas do classificador no conjunto de teste


y_pred = classificador.predict(x_teste_scaled)
    
print("A acur√°cia foi %3.1f%%" % (100*accuracy_score(y_teste,y_pred)))

A acur√°cia foi 97.6%

# Neural Networks (Deep Learning)

In [12]:

# Treinar um classificador MLPClassifier (Rede Neural) com o conjunto de treino

from sklearn.neural_network import MLPClassifier

classificador = MLPClassifier(solver='lbfgs',random_state=SEED)

scaler   = StandardScaler()
x_treino_scaled = scaler.fit_transform(x_treino)
x_teste_scaled  = scaler.transform(x_teste)

classificador = classificador.fit(x_treino_scaled,y_treino)

# Obter as respostas do classificador no conjunto de teste

y_pred = classificador.predict(x_teste_scaled)

    
print("A acur√°cia foi %3.1f%%" % (100*accuracy_score(y_teste,y_pred)))

A acur√°cia foi 98.2%